body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
    border: 5px solid rosybrown;
}
.center{
    text-align: center;
}
p,ul,li{
    color:white
}
b,h2{
    color:rosybrown;
}
p img{
    width: 90px;
    height: 90px;
    border-radius: 15%;
    border: 3px solid black;
}
p{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Gabi';
}
@font-face{
    font-family: 'Gabi'; src: url("CormorantUpright-Light");
}